[MISC]
UNLOCK_PASSWORD			= 771130

[ANDROID]
STANDARD_WIDTH			= 307
STANDARD_HEIGHT			= 670
FOOT_BTNS_POS_Y			= 645
FOOT_HOME_POS_X			= 154
FOOT_TASK_POS_X			= 96
FOOT_BACK_POS_X			= 216
FOOT_SEARCH_ICON_X		= 52
FOOT_SEARCH_ICON_Y		= 606
FOOT_TASK_CLEAR_X		= 154
FOOT_TASK_CLEAR_Y		= 580
HEAD_SEARCH_CLEAR_X		= 230
HEAD_SEARCH_CLEAR_Y		= 78
APP_ICON_SCOPE_H		= 620

[KEYBOARD]
SEARCH_GO_BTN_X			= 280
SEARCH_GO_BTN_Y			= 610

[JINGDONG]
FOOT_BTNS_POS_Y			= 610
FOOT_HOME_POS_X			= 38
FOOT_SORT_POS_X			= 98
FOOT_FIND_POS_X			= 154
FOOT_CART_POS_X			= 214
FOOT_MINE_POS_X			= 272
STUDIO_SEARCH_X			= 60
STUDIO_SEARCH_Y			= 100
STUDIO_TO_ATTENTION		= 200
# actual interval is 54
MIN_STUDIO_ITEM_H		= 20

[QUTOUTIAO]
MAX_NEWS_ABSTRACT_H		= 190
TOP_LEFT_BACK_X			= 38
TOP_RIGHT_BACK_X		= 272
TOP_BACK_BTNS_Y			= 54
ABSTRACT_X_OFFSET		= 40
ABSTRACT_Y_OFFSET		= 50
NECESSARY_READ_TIMES	= 150
RESIDENCE_NEWS_SECONDS	= 22

[KUAISHOUJISU]
WATCH_AD_TIMES			= 9
WATCH_LIVE_ROOM_TIMES	= 5
WATCH_VIDEO_MINUTES		= 120
TOP_LEFT_SETTING_X		= 30
TOP_LEFT_SETTING_Y		= 72
LIVE_ROOM_ATTENTION_X	= 51
LIVE_ROOM_ATTENTION_Y	= 230
LIVE_ROOM_ATTENTION_W	= 250
LIVE_ROOM_ATTENTION_H	= 325

[FANQIECHANGTING]
PLAY_PAUSE_BTN_X		= 154
PLAY_PAUSE_BTN_Y		= 604